
.workplace{
  height:100vh;
  overflow: hidden;
  user-select: none;
  
  .section{
    display: grid;
    grid-template-columns: 260px 1fr 250px;
    column-gap: 30px;
    height:calc(100% - 70px);
    overflow: hidden;
    
    .leftside{
      height:100%;
      overflow: overlay;
      background-color: rgb(204, 204, 204);
      padding:0 0;
      margin:0 0;
      .manipulateFolderFile{
        padding:10px 0;
        background-color: grey;
        .buttons {
          display: flex;
          justify-content: space-around;
          align-items: center;
          width:220px;
          .img {
            cursor: pointer;
            display: flex;
            align-items: center;
            img {
              width:30px;
            }
          }
        }
        .hoverName{
          position:absolute;
          background-color: rgb(255, 247, 231);
          height:20px;
          font-size:13px;
          padding: 3px 3px;
          display:flex;
          justify-content: center;
          align-items: center;
          font-family:sans-serif;
          pointer-events: none;
        }
      }

      .list{
        font-family: 'Poppins';
        padding: 10px 0;
        cursor:pointer;

        .folder-wrap{
          padding:0 10px;
        }
        .total-wrap{
          padding:0 20px;
        }
        
        .folder{
          font-size: 20px;
          font-weight: 600;
        }
        .file{
          font-size: 18px;
          font-weight: 500;
        }
        .folder-name{
          display:flex;
          align-items: center;
          .isOpenImg{
            display:flex;
            align-items: center;
            img{
              height:25px;
            }
          }
        }
        .file-name{

        }
        .selected{
          background-color: skyblue;
        }
        .hide{
          display:none;
        }
      }

      .pageList{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        padding: 20px 0 30px 0;
        .page{
          background-color: beige;
          border:solid aquamarine 3px;
          width: 70%;
          height: 150px;
          margin: 10px 10px;
        }
      }
    }
    .leftside::-webkit-scrollbar{
      width:6px;
    }
    .leftside::-webkit-scrollbar-thumb{
      height: 10%;
      background: gray;
      border-radius: 5px;
    }
    
    .middleside{
      overflow: scroll;
      height: 100%;
      padding: 30px 0;
      
      .writing{
        overflow: hidden;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        textarea{
          overflow: clip;
          font-size:15px;
          border:solid 3px rgb(16, 97, 97);
          line-height: 20px;
        }
      }
    }
    .middleside::-webkit-scrollbar{
      width:12px;
    }
    .middleside::-webkit-scrollbar-thumb{
      height: 10%;
      background: gray;
      border-radius: 5px;
    }

    .rightside{
      overflow: overlay;
      height: 100%;
      .utility{
        background-color:beige;
        padding:20px 10px;
        font-size: 36px;

        .save{
          margin: 20px 0;
          .title{

          }
          .content{
            display: flex;
            justify-content:space-between;
            align-items: center;
          }
        }
        .similarWords{
          margin: 20px 0;
          .title{

          }
          .content{
            display: flex;
            justify-content:space-between;
            align-items: center;
            margin: 0 20px 0 0;
            .input{
              width:140px;
            }
            .request{
              display:flex;
              align-items: center;
            }
          }
          .response{
            margin: 5px 10px;
            // font-family: 'Poppins';
            font-size: 30px;
            font-weight: 500;
          }
        }
      }
    }
    .rightside::-webkit-scrollbar{
      width:6px;
    }
    .rightside::-webkit-scrollbar-thumb{
      height: 10%;
      background: gray;
      border-radius: 5px;
    }
  }
}
