
.workplace{
  height:100vh;
  overflow: hidden;
  .section{
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    column-gap: 30px;
    height:calc(100% - 70px);
    overflow: hidden;
    
    .leftside{
      height:100%;
      overflow: hidden scroll;
      
      .list{
        font-family: 'Poppins';
        padding: 20px 0;
        .folder-wrap{
          padding:0 10px;
        }
        .total-wrap{
          padding:0 20px;
        }
        
        .folder{
          font-size: 20px;
          font-weight: 600;
        }
        .file{
          font-size: 18px;
          font-weight: 500;
        }
      }

      .pages{
        background-color: red;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        padding: 20px 0 30px 0;
        .page{
          background-color: orange;
          width: 70%;
          height: 150px;
          margin: 10px 10px;
        }
      }
    }
    .leftside::-webkit-scrollbar{
      width:6px;
    }
    .leftside::-webkit-scrollbar-thumb{
      height: 10%;
      background: gray;
      border-radius: 5px;
    }

    .middleside{
      overflow: hidden scroll;
      height: 100%;
      padding: 30px 0;
      .writing{
        background-color: blue;
        display:flex;
        flex-direction: column;
        align-items: center;
        .form{
          width:80%;
          textarea{
            width: 100%;
            height: 500px;
          }
        }
      }
    }
    .middleside::-webkit-scrollbar{
      width:12px;
    }
    .middleside::-webkit-scrollbar-thumb{
      height: 10%;
      background: gray;
      border-radius: 5px;
    }

    .rightside{
      overflow: hidden scroll;
      height: 100%;
      .utility{
        background-color: green;
      }
    }
    .rightside::-webkit-scrollbar{
      width:6px;
    }
    .rightside::-webkit-scrollbar-thumb{
      height: 10%;
      background: gray;
      border-radius: 5px;
    }
  }
}
