.workplace {
  height: 100vh;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.workplace .section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 260px 1fr 250px;
      grid-template-columns: 260px 1fr 250px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  height: calc(100% - 70px);
  overflow: hidden;
}

.workplace .section .leftside {
  height: 100%;
  overflow: overlay;
  background-color: #cccccc;
  padding: 0 0;
  margin: 0 0;
}

.workplace .section .leftside .manipulateFolderFile {
  padding: 10px 0;
  background-color: grey;
}

.workplace .section .leftside .manipulateFolderFile .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;
}

.workplace .section .leftside .manipulateFolderFile .buttons .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.workplace .section .leftside .manipulateFolderFile .buttons .img img {
  width: 30px;
}

.workplace .section .leftside .list {
  font-family: 'Poppins';
  padding: 10px 0;
  cursor: pointer;
}

.workplace .section .leftside .list .folder-wrap {
  padding: 0 10px;
}

.workplace .section .leftside .list .total-wrap {
  padding: 0 20px;
}

.workplace .section .leftside .list .folder {
  font-size: 20px;
  font-weight: 600;
}

.workplace .section .leftside .list .file {
  font-size: 18px;
  font-weight: 500;
}

.workplace .section .leftside .list .folder-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.workplace .section .leftside .list .folder-name .isOpenImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.workplace .section .leftside .list .folder-name .isOpenImg img {
  height: 25px;
}

.workplace .section .leftside .list .selected {
  background-color: skyblue;
}

.workplace .section .leftside .list .hide {
  display: none;
}

.workplace .section .leftside .pageList {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 20px 0 30px 0;
}

.workplace .section .leftside .pageList .page {
  background-color: beige;
  border: solid aquamarine 3px;
  width: 70%;
  height: 150px;
  margin: 10px 10px;
}

.workplace .section .leftside::-webkit-scrollbar {
  width: 6px;
}

.workplace .section .leftside::-webkit-scrollbar-thumb {
  height: 10%;
  background: gray;
  border-radius: 5px;
}

.workplace .section .middleside {
  overflow: overlay;
  height: 100%;
  padding: 30px 0;
}

.workplace .section .middleside .writing {
  background-color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.workplace .section .middleside .writing .form {
  width: 80%;
}

.workplace .section .middleside .writing .form textarea {
  border: solid 3px aqua;
  width: 100%;
  height: 500px;
}

.workplace .section .middleside::-webkit-scrollbar {
  width: 12px;
}

.workplace .section .middleside::-webkit-scrollbar-thumb {
  height: 10%;
  background: gray;
  border-radius: 5px;
}

.workplace .section .rightside {
  overflow: overlay;
  height: 100%;
}

.workplace .section .rightside .utility {
  background-color: beige;
  padding: 20px 10px;
  font-size: 36px;
}

.workplace .section .rightside .utility .save {
  margin: 20px 0;
}

.workplace .section .rightside .utility .save .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.workplace .section .rightside .utility .similarWords {
  margin: 20px 0;
}

.workplace .section .rightside .utility .similarWords .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px 0 0;
}

.workplace .section .rightside .utility .similarWords .content .input {
  width: 140px;
}

.workplace .section .rightside .utility .similarWords .content .request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.workplace .section .rightside .utility .similarWords .response {
  margin: 5px 10px;
  font-size: 30px;
  font-weight: 500;
}

.workplace .section .rightside::-webkit-scrollbar {
  width: 6px;
}

.workplace .section .rightside::-webkit-scrollbar-thumb {
  height: 10%;
  background: gray;
  border-radius: 5px;
}
/*# sourceMappingURL=Workplace.css.map */