@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  src: url("fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  src: url("fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  src: url("fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  src: url("fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: 'Poppins';
  font-weight: 900;
  src: url("fonts/Poppins/Poppins-Black.ttf");
}

@font-face {
  font-family: 'Nanum_Pen_Script';
  src: url("fonts/Nanum_Pen_Script/NanumPenScript-Regular.ttf");
}

body {
  font-family: 'Nanum_Pen_Script';
  font-size: 30px;
}